<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.asdevs.myhomegc2.repository.InsertTrGcCalendarMapper">
    <insert id="insertEvent">
        INSERT INTO tr_gc_calendar (
            `gc_date`,
            `gc_id`,
            `del_flg`,
            `created`,
            `created_user`,
            `modified`,
            `modified_user`
        )
        VALUES(
            #{gcDate, jdbcType=VARCHAR},
            #{gcId, jdbcType=INTEGER},
            #{delFlg, jdbcType=INTEGER},
            #{created, jdbcType=VARCHAR},
            #{createdUser, jdbcType=VARCHAR},
            #{modified, jdbcType=VARCHAR},
            #{modifiedUser, jdbcType=VARCHAR}
        )
        ;
    </insert>
</mapper>

