<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.asdevs.myhomegc2.repository.ScUsersMapper">
    <select id="findByName" resultType="net.asdevs.myhomegc2.repository.entity.ScUsersEntity">
        SELECT
            *
        FROM
            sc_users
        WHERE
            name = #{name, jdbcType=VARCHAR}
    </select>
</mapper>